@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

* {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: "Young Serif", system-ui;
}

h2 {
  font-size: 28px;
  line-height: 100%;
  font-weight: 400;
  color: #854632;
  margin-bottom: 24px;
}

ul,
ol {
  list-style-type: none;
}

ul li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
}

ol li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
}

ul li::before {
  content: "";
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(-50%);
  width: 5px;
  height: 5px;
  background: #000;
  border-radius: 100%;
}

ol li::before {
  content: counter(item) ".";
  counter-increment: item;
  position: absolute;
  left: 0;
  top: 0;
  color: #854632;
  font-weight: 600;
}

ol {
  counter-reset: item;
}

em {
  font-style: normal;
  font-weight: 600;
}

hr {
  border: none;
  background: #e3ddd7;
  height: 1px;
  margin: 32px 0;
}

body {
  font-family: "Outfit", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: #312e2c;
  background: #fff;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0px;
}

main {
  width: 100;
}

header {
  width: 100%;
  overflow: hidden;
}

header img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

article {
  padding: 40px 32px;
}

.presentation h1 {
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 24px;
}

.presentation .description {
  margin-bottom: 32px;
}

.preparation-time {
  background: #fff7fb;
  border-radius: 10px;
  padding: 24px;
}

h3 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  color: #7a284e;
  margin-bottom: 16px;
}

ul li em {
  color: #5f564d;
  font-weight: 600;
}

.ingredients {
  margin-top: 32px;
}

.ingredients ul li::before {
  background: #854632;
}

.nutrition p {
  margin-bottom: 24px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td {
  border-top: 1px solid #e3ddd7;
  border-bottom: 1px solid #e3ddd7;
  padding: 8px;
  text-align: left;
}

table tr td:first-child {
  padding: 0 1.5% 0 6%;
}

table tr td:last-child {
  padding: 0 6% 0 1.5%;
}

tr:first-child td {
  border-top: none;
}
table tr:nth-child(4) td {
  border-bottom: none;
}
table tr td:last-child {
  color: #854632;
  font-weight: 600;
}

@media screen and (min-width: 375px) {
  table tr td:first-child {
  }
}
